# Dependencies
node_modules/

# Playwright
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
/playwright/.auth/

# Allure
/allure-results/
/allure-report/

# Error screenshots
*.png

# Environment files
.env
.env.local

# Logs
*.log

# Temp files
nul
.history/

# IDE
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db
